:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 450px;
    width: 600px;
    border-radius: 15px;
}

.left-col,
.right-col {
    width: 50%;
}

.img-mobile {
    display: none;
}

.left-col .img-desktop {
    border-radius: 15px 0 0 15px;
    width: 100%;
    min-height: 100%;
}

.right-col {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: var(--dark-grayish-blue);
}

h1 {
    font-family: Fraunces, sans-serif;
    font-weight: 700;
}

.perfume {
    letter-spacing: 5px;
    font-size: 12px;
}

.prices {
    display: flex;
    align-items: center;
}

.price {
    color: var(--dark-cyan);
}

.price-bar {
    margin-left: 30px;
    font-size: 10px;
    text-decoration: line-through;
}

main button {
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: white;
    background-color: var(--dark-cyan);
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    main {
        flex-direction: column;
        width: 350px;
        height: 600px;
        justify-content: flex-start;
    }

    .left-col,
    .right-col {
        width: 100%;
    }

    .left-col .img-desktop {
        display: none;
    }

    .left-col .img-mobile {
        display: inline;
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    .right-col {
        height: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
}